*.7z
*.dat
*.fits
*.fz
*/gcm.txt
*/.gitignore
/.git.pre*/
/.git.pre-rewrite.*
*.idea/
*interpolgrid*
*.jl
*.jpg
*.log
*.out
*.pdf
*.pklz
*.png
*.py~
*.pyc
*/__pycache__/*
*/.vscode
*.xz
*.zip
*.bak
*.bestspec*
*.exe
*.figz
*.mcmc
*.pkl
*.s100
*.sum
*.mod
*.o
*.s350
