*.7z
*.bak
*.bestspec*
*.dat
*.exe
*.figz
*.fits
*.fz
*/gcm.txt
*/.gitignore
*.git.pre*
*.idea/
*interpolgrid*
*.jl
*.jpg
*.log
*.mcmc
*.mod
*.o
*.out
*.pdf
*.pkl
*.pklz
*.png
*.py~
*.pyc
*/__pycache__/*
*.s100
*.s350
*.sum
*/.vscode
*.xz
*.zip
